# Ignore node_modules directory
node_modules/

# Ignore Cypress downloads
cypress/downloads/

# Ignore Cypress screenshots
cypress/screenshots/

# Ignore Cypress videos
cypress/videos/

# Prettier configuration files
.prettierrc
.prettierignore

# Local Prettier cache
.prettiercache
